.titleQ {
    -fx-text-fill: #269CDF;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-font-family: Roboto;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

.btnSubmit {
    -fx-background-color: #269CDF;
    -fx-text-fill: white;
    -fx-border-color: #269CDF;
    -fx-border-width: 1px;
    -fx-border-radius: 45px;
    -fx-background-radius: 45px;
    -fx-padding: 10px 30px 10px 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}

