
.scroll-bar:horizontal {
    -fx-background-color: white;
    -fx-border-color: #269CDF;
}
.scroll-bar:horizontal *.increment-arrow,
.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: #269CDF;
    -fx-fill: #269CDF; 
}

.scroll-bar:horizontal .track{
    -fx-background-color: white;
}

.scroll-bar:horizontal .thumb{
    -fx-background-color: #269CDF;
}



